:root {
    /* To be determined */
    --primary-background-color: #0B0B0B;
    --secondary-background-color: #262626;
    --tertiary-background-color: #0B0B0B;

    /* To be determined */
    --primary-text-color: #ffff;
    --secondary-text-color: #ffff;
    --tertiary-text-color: #ffff;

    /* To be determined */
    --primary-button-color: #ffff;
    --secondary-button-color: #ffff;
    --tertiary-button-color: #ffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-text-color);
    font-family: 'Inter', sans-serif;
}

.base {
    height: 100vh;
    transition: all ease-in 0.3s;
}